<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
  <property>
    <name>zookeeper.connect</name>
    <value>localhost:2181</value>
  </property>
  <property>
    <name>content</name>
    <value>
      auto.create.topics.enable=false
      broker.id=${@//site/global/app_container_tag}
      controlled.shutdown.enable=true
      controlled.shutdown.max.retries=3
      controlled.shutdown.retry.backoff.ms=5000
      default.replication.factor=3
      kafka.csv.metrics.dir=/tmp/kafka_metrics
      kafka.csv.metrics.reporter.enabled=false
      kafka.metrics.polling.interval.secs=5
      kafka.metrics.reporters=kafka.metrics.KafkaCSVMetricsReporter
      log.dir=${@//site/global/app_pid_dir}
      log.retention.check.interval.ms=60000
      log.retention.hours=6
      log.segment.bytes=536870912
      message.max.bytes=10000000
      num.io.threads=8
      num.network.threads=2
      num.partitions=30
      num.replica.fetchers=2
      port=9092
      replica.fetch.max.bytes=20971520
      replica.fetch.min.bytes=1
      replica.fetch.wait.max.ms=500
      replica.high.watermark.checkpoint.interval.ms=5000
      replica.lag.max.messages=10000
      replica.lag.time.max.ms=10000
      replica.socket.receive.buffer.bytes=1048576
      replica.socket.timeout.ms=30000
      socket.receive.buffer.bytes=1048576
      socket.request.max.bytes=104857600
      socket.send.buffer.bytes=1048576
      zookeeper.connect=${@//site/server/zookeeper.connect}/kafka/${@//site/server/instance.name}
      zookeeper.connection.timeout.ms=1000000
    </value>
  </property>
</configuration>
